# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.flutter/
.packages
/build/
build/

# Android
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.aab

# iOS - КРИТИЧЕСКИ ВАЖНО!
ios/**/*.mobileprovision
ios/**/*.p8
ios/**/*.p12
ios/**/*.cer
ios/**/*.keystore
ios/Runner.xcworkspace/xcuserdata/
ios/Pods/
ios/.symlinks/

# Certificates & Keys (общее)
*.p8
*.p12
*.keystore
*.jks
*.key
*.crt
*.cer


# iOS provisioning profiles
*.mobileprovision
ios/*.mobileprovision

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json


# Misc
*.dill
*.jar
*.so
*.o
*.a
